<div class="contain">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <p class="featurette-heading fw-normal lh-1">Oh yeah, it’s a good choice.</p>
          <p class="lead">Make your world colourful like these colours, here you will get all types of colours, brushes and etc.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img style="height: 400px; width: 400px; margin-top: 40px; margin-left: 10px; border-radius: 50%; border: 2px solid white;" src="../../assets/images/bg11.avif" alt="">
        </div>
      </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
         <img src="../../assets/images/award.svg" alt="">
        </a>
        <span style="background-color: rgb(39, 36, 36); color: white;" class="mb-3 mb-md-0 text-muted">&copy;2023 Private, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
        <li class="ms-3"><a style="color: white !important;" class="text-muted " href="https://www.instagram.com" target="_blank"><img class="social-icon" src="../../assets//images/insta.png" alt="">&nbsp;govindpal18nov</a></li>
        <li class="ms-3"><a style="color: white !important;" class="text-muted " href="https://www.linkedIn.com" target="_blank"><img class="social-icon" src="../../assets//images/linked.png" alt="">&nbsp;https://www.linkedin.com/in/govind-pal-817927215</a></li>
        <li class="ms-3"><a style="color: white !important;" class="text-muted " target="_blank"><img class="social-icon" src="../../assets//images/phone.jpeg" alt="">&nbsp;7067438509</a></li>
      </ul>
    </footer>
  </div>
