body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }

#top-table{
    width: 100%;
    margin-left: 20px;
}

.date-input{
    width: 200px;
    display: inline;
    border-radius: 4px;
}

.topImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.contain{
    background: url('../../assets/images/bg6.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
}

#top-para{
    font-size: 30px; color: aquamarine; text-align: center; justify-content: center; display: none;
}

.scroll-stop{
  overflow-x: hidden !important;
}
