<div class="contain">
    <!-- <div class="container py-3"> -->
        <header>
            <div style="margin-top: 60px;" class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 style="color: rgb(176, 209, 194); font-weight: bold; font-size: 32px;" class="display-4 fw-normal">Top 5 Selling Products</h1>
                <p>
                    <input type="date" class="form-control date-input" [(ngModel)]="customDate" (change)="changeDate()"
                        required />
                        <button [disabled]="!getDate" class="btn btn-primary" type="button" id="button-addon2" (click)="getQuantity()">Get</button>
                </p>

            </div>
        </header>

            <div class="row row-cols-1 row-cols-md-3 mr-3 text-center scroll-stop">
                    <table id="top-table">
                        <p id="top-para">No Data To Show</p>
                        <tbody style="display: flex; flex-direction: row; flex-flow: wrap; width: 100%;">
                            <tr style="display: flex; flex-direction: column; margin: 7px 7px; width: 240px;" *ngFor="let top of topData">
                                <div class="card mb-4 rounded-3 shadow-sm ">
                                    <td>
                                        <div class="card-header py-3">
                                            <h1 class="my-0 fw-normal">{{top.Name}}</h1>
                                        </div>
                                    </td>
                                    <td>
                                        <h1 class="card-title pricing-card-title">₹{{top.UnitPrice}}</h1>
                                    </td>
                                    <td>
                                        <div class="card-body"><img class="topImg" src="{{url}}{{top.Image}}"
                                                alt="failed" />
                                        </div>
                                    </td>
                                    <td>
                                        <p>Quantity:{{top.Quantity}}</p>
                                    </td>
                                </div>
                            </tr>
                        </tbody>

                    </table>
                
            </div>
    
    <!-- </div> -->

</div>