<div class="contain">
    <div style="margin-left: 10px;" class="row text-center">
        <div class="col-lg-4">
            <img class="about-img" src="../../assets/images/bg12.avif" alt="">
            <h1 class="fw-normal">Notebooks</h1>
            <p>All kinds of notebooks are available with lines or without lines with different colour's pages.</p>
            <p> <a class="btn btn-success" data-bs-toggle="collapse" href="#collapse-first" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    View details &raquo;
                </a>
            <div class="collapse" id="collapse-first">
                <div class="card card-body">
                    'Notebooks' with lined paper is writing paper that has lines on it and 'unlined' paper has no lines on it.
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="about-img"  src="../../assets/images/bg10.avif" alt="">
            <h1 class="fw-normal">Highlighter pens</h1>
            <p>All kinds of hightlers are available of differnt-different colours and pointers.</p>
            <p> <a class="btn btn-success" data-bs-toggle="collapse" href="#collapse-second" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    View details &raquo;
                </a>
            <div class="collapse" id="collapse-second">
                <div class="card card-body">
                    'Highlighter pens' are special pens that you can use to make an area of paper bright yellow, orange or green. We use them to make important pieces of text easier to see.
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="about-img"  src="../../assets/images/bg9.avif" alt="">
            <h1 class="fw-normal">Post-it notes</h1>
            <p>All kinds of post-it notes are available of different- different colours</p>
            <p> <a class="btn btn-success" data-bs-toggle="collapse" href="#collapse-third" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    View details &raquo;
                </a>
            <div class="collapse" id="collapse-third">
                <div class="card card-body">
                    'Post-it notes' are small square pieces of paper that have a sticky end on one side. You can stick them on a wall or a desk to remind you to do something.
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
    </div>
</div>